**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.git/
**/.gitignore
**/*.md
**/node_modules/
**/.dockerignore
**/Dockerfile
**/.env
**/.editorconfig
**/appsettings.Development.json
**/*.user
**/*.DotSettings.user
*.sh
.idea/
.vs/
TestResults/
BenchmarkDotNet.Artifacts/
